@page {
  size: 152mm 229mm;
  /* Allow a minimum `0.50in`/`12.7mm` in Safety Margin for all content
   * Allow an additional minimum `0.2in`/`5.08mm` in Gutter Margin for inners
   */

  margin-left: 18mm; /* 18mm = 0.7in  */
  margin-right: 18mm; /* 18mm = 0.7in  */
  margin-top: 14mm;
  margin-bottom: 14mm;
  margin-inside: 23.5mm; /* 22.5mm = 18mm + 5.5mm */
}

body {
  font-size: 11pt;
  text-align: justify;
  hyphens: auto;
  line-height: 1.3636363636; /* 15pt = 11*1.3636- is 36 lines of text p.p. */
}

a {
  text-decoration: none;
}

p {
 orphans: 2;
 widows: 3;
}

h1 {
  bookmark-state: open;
}

h2 {
  /* use chapter headings as level-1 PDF bookmarks */
  bookmark-level: 1;
  bookmark-state: closed;
  counter-reset: footnote 0;
}
#iv h2,
#toc h2,
h3#t56,
h3#t66,
h3#t68,
h3#t110,
h3#t213,
h3#t218 {
  /* fix for PDF bookmark labels on headers with footnotes */
  bookmark-label: attr(data-bookmark-label);
}

h2 sup {
  /* chapter footnote markers */
  font-size: 9pt;
}

h3 {
  /* thesis numbers */
  font-size: 16pt;
  line-height: 0.9375; /* 0.9375 = 16pt/15pt */ ;
  margin: 28.125pt 0 16pt 0;
}

.chapter-body h3:first-child {
  /* hack: removes the odd margin-top on the first thesis in each chapter */
  margin-top: -0.5pt;
}

figure img {
  max-width: 120mm;
  margin: 0 -1.2cm;
}
figure figcaption {
  padding: 0;
}

/* chapter page */
h2 + blockquote {
  font-size: 14pt;
}
h2 + blockquote p:first-child + p {
  /* decrease size of quote attribution */
  font-size: 13pt;
}
h2.centered {
  /* centered page titles should have smaller margins */
  margin-top: 0;
  margin-bottom: 4rem;
}


/*  components */

.halftitle-title {
  margin-top: 12rem;
}

/* titlepg */
.titlepg {
  margin-top: 8rem;
}

.title-details {
  margin-top: 3cm;
}
.title-logo {
  margin-top: 4.5cm;
}

/* utilities for pagination */

.break-before {
  break-before: always;
}

.break-before-right {
  break-before: right;
}
.break-before-page {
  break-before: page;
}

.reset-page-counter {
  counter-reset: page 1;
}

.blank {
  prince-page-group: start;
  -prince-page-group: start;
}

#title-block-header,
.break-after,
h2 + blockquote {
  break-after: always;
  page-break-after: always; /* hack */
}

h2 {
  /* force chapters to start on the right page */
  break-before: right;
  /* set chapter title for the right page */
  string-set: chapter-title attr(title);
}
@page:right {
  /* add chapter title to the recto page */
  @top-right {
    content: string(chapter-title);
    font-size: 10pt;
    font-variant: small-caps;
  }
}

/* add book Title to the left page */
@page:left {
  @top-left {
    content: string(doctitle);
    font-size: 10pt;
    font-variant: small-caps;
  }
}

/* page counters */
@page:right {
  @bottom-right-corner {
    content: counter(page);
    font-size: 10pt;
  }
}

@page:left {
  @bottom-left-corner {
    content: counter(page);
    font-size: 10pt;
  }
}

/* remove margin content from blank pages */
@page:blank {
  @top-right { content: normal; }
  @top-left { content: normal; }
  @bottom-right-corner { content: normal; }
  @bottom-left-corner { content: normal; }
}


/* notes */
@page {
  @footnote {
    /* sidenotes */
    position: absolute;
    width: 46mm;
    right: -12mm;
    top: 3pt;
    bottom: 5mm;
  }
}

.chapter {
  page: chapter;
}
@page chapter {
  /* remove margin content from chapter title pages */
  @top-right {
    content: normal;
  }
  @bottom-right-corner {
    content: normal;
  }
}

.chapter-body {
  margin-right: 42mm;
}


/* notes */
.footnote {
  counter-increment: footnote;
}
.sidenote,
.note {
  /* increment footnote count */
  counter-increment: footnote;
}
.sidenote,
.footnote {
  /* if note is in a header, we need to reset the typography */
  font-size: 8pt;
  font-weight: normal;
  line-height: 1.40625; /* 11.25pt = creates vertical rhythm with 8pt footnote
                         * text and 11pt body text. This creates a vertical
                         * rhythm of 4 body lines to 5 footnote lines, and 48
                         * lines in a footnote column.
                         */
  letter-spacing: normal;
  text-align: justify;
}

.sidenote {
  float: footnote;
}

.footnote {
  float: bottom;
  position: relative;
  display: inline;
}
.footnote::before,
.footnote-call::after {
  font-size: 9pt;
}
.footnote-call::after {
  content: counter(footnote);
  line-height: 0;
  vertical-align: super;
}
section.footnote-call::after{
  content: none; /* fixes headers with hoisted classnames adding content
                  * to sections themselves
                  */
}
.footnote::before {
  content: counter(footnote) '.';
  position: absolute;
  left: -1.25em;
  top: -1pt;
}

/* table of contents */
.toc h2 { margin-bottom: 6rem; }
.toc li {
  text-align: left;
}
.toc a::after {
  content: leader('.') ' ' target-counter(attr(href), page);
}

/* title page */
.title-page {
  page: title-page;
  -prince-page-group: start;
  prince-page-group: start;
}
@page title-page {
  /* remove marginalia from title pages */
  @top-left { content: normal; }
  @top-right { content: normal; }
  @bottom-right-corner { content: normal; }
  @bottom-left-corner { content: normal; }
}

/* preface to the third french edition */
#forward,
#preface-3rd {
  break-before: right;
  -prince-page-group: start;
  prince-page-group: start;
  counter-reset: footnote 0;
}

/* glossary */
#forward,
#preface,
#preface-3rd,
#glossary,
#bibliography,
#index {
  string-set: chapter-title '';
  bookmark-level: 1;
  bookmark-state: closed;

}

