@page {
  size: 152mm 229mm;
}

@page:left {
  margin: 2cm;
}

@page:right {
  margin: 2cm;
}

body {
  font-size: 12pt;
  text-align: justify;
  hyphens: auto;
}

a {
  text-decoration: none;
}

p {
 orphans: 4;
 widows: 4;
}


h2 {
  /* use chapter headings as level-1 PDF bookmarks */
  -prince-bookmark-level: 1;
}

figure img {
  max-width: 120mm;
  margin: 0 -1.2cm;
}
figure figcaption {
  padding: 0;
}


/* chapter page */
h2 + blockquote {
  font-size: 14pt;
}
h2.centered {
  /* centered page titles should have smaller margins */
  margin-top: 0;
  margin-bottom: 4rem;
}


/*  components */

.halftitle-title {
  margin-top: 12rem;
}

.title {
  font-size: 2rem;
  string-set: doctitle content();
}

.author {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.title-details {
  margin-top: 4cm;
}
.title-logo {
  margin-top: 6cm;
}

/* utilities for pagination */

.break-before {
  break-before: always;
}

.break-before-right {
  break-before: right;
}
.break-before-page {
  break-before: page;
}

.reset-page-counter {
  counter-reset: page 1;
}

.blank {
  prince-page-group: start;
  -prince-page-group: start;
}

/* title page */
.title-page {
  page: title-page;
  -prince-page-group: start;
  prince-page-group: start;
}
@page title-page {
  /* remove marginalia from title pages */
  @top-left { content: normal; }
  @top-right { content: normal; }
  @bottom-right-corner { content: normal; }
  @bottom-left-corner { content: normal; }
}

#title-block-header,
.break-after,
h2 + blockquote {
  break-after: always;
  page-break-after: always; /* hack */
}

h2 {
  /* force chapters to start on the right page */
  break-before: right;
  /* set chapter title for the right page */
  string-set: chapter-title attr(title);
}
@page:right {
  /* add chapter title to the recto page */
  @top-right {
    content: string(chapter-title);
    font-size: 10pt;
    font-variant: small-caps;
  }
}

/* add book Title to the left page */
@page:left {
  @top-left {
    content: string(doctitle);
    font-size: 10pt;
    font-variant: small-caps;
  }
}

/* page counters */
@page:right {
  @bottom-right-corner {
    content: counter(page);
    font-size: 10pt;
  }
}

@page:left {
  @bottom-left-corner {
    content: counter(page);
    font-size: 10pt;
  }
}

/* remove margin content from blank pages */
@page:blank {
  @top-right { content: normal; }
  @top-left { content: normal; }
  @bottom-right-corner { content: normal; }
  @bottom-left-corner { content: normal; }
}


/* notes */
@page {
  @footnote {
    /* sidenotes */
    position: absolute;
    width: 4.5cm;
    right: -1.24cm;
    top: 1.72cm;
  }
}

.chapter {
  page: chapter;
  counter-reset: footnote 1; /* restart footnote per chapter */
}
@page chapter {
  /* remove margin content from chapter title pages */
  @top-right {
    content: normal;
  }
  @bottom-right-corner {
    content: normal;
  }
}

.chapter-body {
  margin-right: 4cm;
}

/* sidenotes */
.sidenote,
.footnote {
  /* if note is in a header, we need to reset the typography */
  font-size: 9pt;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: normal;
  /* increment footnote count */
  counter-increment: footnote;
  display: block;
  text-align: justify;
}

.sidenote {
  float: footnote;
}

.footnote {
  float: bottom;
  position: relative;
}
.footnote::before,
.footnote-call::after {
  font-size: 9pt;
}
.footnote-call::after {
  content: counter(footnote);
  line-height: 0;
  vertical-align: super;
}
section.footnote-call::after{
  content: none; /* fixes headers with hosted classnames adding content
                  * to sections themselves
                  */
}
.footnote::before {
  content: counter(footnote) '.';
  position: absolute;
  left: -1.25em;
}

/* table of contents */
.toc h2 { margin-bottom: 6rem; }
.toc li {
  text-align: left;
}
.toc a::after {
  content: leader('.') ' ' target-counter(attr(href), page);
}
