@page {
  size: 152mm 229mm;
}

@page:left {
  margin: 2cm;
}

@page:right {
  margin: 2cm;
}

body {
  font-size: 12pt;
  text-align: justify;
  hyphens: auto;
}

a {
  text-decoration: none;
}

p {
 orphans: 4;
 widows: 4;
}


h2 {
  /* use chapter headings as level-1 PDF bookmarks */
  -prince-bookmark-level: 1;
}

figure img {
  max-width: 120mm;
  margin: 0 -1.2cm;
}


/* chapter page */
h2 + blockquote {
  font-size: 14pt;
}

/* utilities */

.break-before-right {
  break-before: right;
}

.reset-page-counter {
  counter-reset: page 1;
}

/*  components */

.halftitle-title {
  margin-top: 12rem;
}

.title {
  font-size: 2rem;
  string-set: doctitle content();
}

.author {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.title-details {
  margin-top: 4cm;
}
.title-logo {
  margin-top: 6cm;
}

.blank {
  prince-page-group: start;
  -prince-page-group: start;
}


h2 {
  /* force chapters to start on the right page */
  break-before: right;
  /* add chapter title to the right page */
  string-set: chapter-title attr(title);
}
@page:right {
  @top-right {
    content: string(chapter-title);
    font-size: 10pt;
    font-variant: small-caps;
  }
}

/* add book Title to the left page */
@page:left {
  @top-left {
    content: string(doctitle);
    font-size: 10pt;
    font-variant: small-caps;
  }
}

/* page counters */
@page:right {
  @bottom-right-corner {
    content: counter(page);
    font-size: 10pt;
  }
}

@page:left {
  @bottom-left-corner {
    content: counter(page);
    font-size: 10pt;
  }
}

/* remove margin content from blank pages */
@page:blank {
  @top-right { content: normal; }
  @top-left { content: normal; }
  @bottom-right-corner { content: normal; }
  @bottom-left-corner { content: normal; }
}


/* notes */
@page {
  @footnote {
    /* sidenotes */
    position: absolute;
    width: 4.5cm;
    right: -1.24cm;
    top: 1.72cm;
  }
}

.chapter {
  page: chapter;
}

@page chapter {
  /* remove margin content from chapter title pages */
  @top-right {
    content: normal;
  }
  @bottom-right-corner {
    content: normal;
  }
}

.chapter-body {
  margin-right: 4cm;
}

/* sidenotes */
.sidenote,
.floatnote {
  display: block;
  text-align: justify;
}

.sidenote {
  float: footnote;
}

.floatnote {
  position: absolute;
  right: -1cm;
  width: 4.5cm;
  margin-top: -1.125rem;
  clear: none;
}

/* table of contents */
.toc h2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.toc li {
  text-align: left;
}
.toc a::after {
  content: leader('.') ' ' target-counter(attr(href), page);
}
