body::before {
  display: block;
  content: 'draft';
  font-family: system-ui, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20vw;
  opacity: 0.25;
  position: fixed;
  transform: rotate(-15deg);
  left: 20vw;
  top: 20vh;
  pointer-events: none;
}

@media only screen {
  html {
    background: #f7f7f7;
  }
  body {
    background: white;
    box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    padding: 1cm;
    margin: 2cm auto 2cm 24rem;
    width: 152mm;
  }
}


::selection,
*:target,
*:target + .sidenote {
  /* give highlight to text-selection, target, and the footnote next to the target */
  background-color: rgba(254, 231, 0, 0.5);
  transition: background-color 4s ease;
}
.sidenote:target,
*:target + .sidenote {
  /* targeted sidenodes get padding because they have a yellog bg color */
  padding: 0.5em;
}
@media only screen {
  .sidenote {
    width: 20rem;
  }
  .footnote {
    margin-bottom: 1em;
    border-left: 4px solid rgba(0,0,0, 0.25);
    padding-left: 1rem;
  }
  /* alternating side footnotes */
  p .sidenote:nth-of-type(odd),
  p .sidenote.sidenote-r:nth-of-type(even) {
    margin-right: -24rem;
    margin-left: 0;
    float: right;
  }
  p .sidenote:nth-of-type(even),
  p .sidenote.sidenote-l:nth-of-type(odd) {
    margin-left: -24rem;
    margin-right: 0;
    float: left;
  }
}

@media only screen {
  h2,
  .break-before {
    margin-top: 100vh;
  }
  h2 + blockquote,
  #title-block-header,
  .break-after {
    margin-bottom: 100vh;
  }
}

/* table of contents */
.toc ul,
.toc ol {
  margin: 0.5rem 0 0.5rem -0.75rem;
}

