html {
  background: #f7f7f7;
}

body {
  margin: 0;
}
body > div,
body > section {
  background: white;
  box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 1rem;
  margin-bottom: 50vh;
}
@media screen and (min-width: 45rem) {
  html {
    min-width: 1290px;
  }
  body > div,
  body > section {
    box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    margin-right: auto;
    margin-left: 23rem;
    width: 36.25rem; /* 36.25 = 580/16 */
    padding: 2rem;
  }
}

/* add a banner on devices that support landscape with enough real-estate to
 * display sidenote layout
 */
@media screen and (min-device-height: 45rem) and (orientation: portrait) {
  body::before {
    position: absolute;
    background-color: rgba(254, 231, 0, 0.5);
    content: "Rotate to landscape to view sidenote layout.";
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  .halftitle-title {
    margin-top: 4rem;
  }
}

::selection,
.level3:target,
span:target,
q:target,
*:target + .fn,
*:target + .fn-marker + .fn {
  /* highlight color for text-selection, thesis targets, references, footnotes,
   * and reference + footnotes
   */
  background-color: rgba(254, 231, 0, 0.5) !important;
  transition: background-color 4s ease;
}

.fn {
  display: none;
  text-indent: 0;
}

/* footnote modals */
@media (max-width: 44.9999rem) {
  .fn:target {
    display: block;
    position: absolute;
    background-color: rgba(254, 231, 0, 0.95) !important;
    overflow-y: scroll;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    max-height: 80vh;
    padding: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    max-width: calc(100vw - 4rem);
  }
}
.fn .close {
  display: block;
  font-family: system-ui;
  font-size: 1rem;
  text-align: right;
}

.fn-marker {
  text-decoration: underline;
  vertical-align: super;
  line-height: 0;
  font-size: 0.75em;
}

@media (min-width: 45rem) {
  /* 960px */
  .fn-marker,
  .fn .close {
    display: none;
  }
  .fn {
    background-color: #f7f7f7;
    color: black;
    display: block;
    font-family: "Source Serif Pro", Georgia, Times, serif;
    padding: 0.5em;
    width: 20rem;
    z-index: 0;
  }
  .fn-scroll {
    height: 3.75em;
    overflow: scroll;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  }
  .fn-scroll.fn-scroll-md {
    height: 7.5em;
  }
  .fn-scroll.fn-scroll-lg {
    height: 11.25em;
  }
  /* alternating side footnotes */
  .fn:nth-of-type(odd),
  .fn.fn-r:nth-of-type(even) {
    margin-right: -24rem;
    margin-left: 0;
    float: right;
  }
  .fn:nth-of-type(even),
  .fn.fn-l:nth-of-type(odd) {
    margin-left: -24rem;
    margin-right: 0;
    float: left;
  }
}

/* half title */
.halftitle-title {
  background-color: #0adada;
  height: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 4rem;
}

/* table of contents */
.toc ul,
.toc ol {
  margin: 0.5rem 0 0.5rem -0.75rem;
}
.toc .s-index {
  display: none; /* hide index on screen */
}
