html {
  background: #f7f7f7;
}

body {
  margin: 0;
}
body > div,
body > section {
  background: white;
  box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 1rem;
  margin-bottom: 50vh;
}
@media screen and (min-width: 45rem) {
  html {
    min-width: 1290px;
  }
  body > div,
  body > section {
    box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    margin-right: auto;
    margin-left: 23rem;
    width: 36.25rem; /* 36.25 = 580/16 */
    padding: 2rem;
  }
}

/* add a banner on devices that support landscape with enough real-estate to
 * display sidenote layout
 */
@media screen and (min-device-height: 45rem) and (orientation : portrait) {
  body::before {
    position: absolute;
    background-color: rgba(254, 231, 0, 0.5);
    content: 'Rotate to landscape to view sidenote layout.';
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  .halftitle-title {
    margin-top: 4rem;
  }
}

::selection,
*:target,
*:target + .fn {
  /* give highlight to text-selection, target, and the footnote next to the target */
  background-color: rgba(254, 231, 0, 0.5) !important;
  transition: background-color 4s ease;
}

.fn {
  color: #292929;
  display: inline;
  font-family: system-ui, sans-serif;
  border: 1px solid rgba(29,29,29, 0.25);
}
@media (min-width: 23.4375rem) {
  /* 375px */
  .fn {
    display: block;
    float: right;
    width: 50%;
    margin: 0.25rem 0 0.5rem 0.5rem;
    border: none;
  }
}
@media (min-width: 45rem) {
  /* 960px */
  .fn {
    background-color: #f7f7f7;
    color: black;
    display: block;
    font-family: "Source Serif Pro", Georgia, Times, serif;
    padding: 0.5em;
    width: 20rem;
    z-index: 0;
  }
  .fn-scroll {
    height: 3.75em;
    overflow: scroll;
    border-bottom: 1px dashed rgba(0,0,0,0.5);
  }
  /* alternating side footnotes */
  .fn:nth-of-type(odd),
  .fn.fn-r:nth-of-type(even) {
    margin-right: -24rem;
    margin-left: 0;
    float: right;
  }
  .fn:nth-of-type(even),
  .fn.fn-l:nth-of-type(odd) {
    margin-left: -24rem;
    margin-right: 0;
    float: left;
  }
}

/* half title */
.halftitle-title {
  background-color: #0adada;
  height: 52rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.halftitle-translator {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 4em;
}

/* table of contents */
.toc ul,
.toc ol {
  margin: 0.5rem 0 0.5rem -0.75rem;
}
.toc .s-index {
  display: none; /* hide index on screen */
}
