<link rel="manifest" href="../manifest.json" data-external="1">
<link rel="shortcut icon" href="/spectacle/favicon.ico" data-external="1">
<link rel="icon" type="image/png" href="/spectacle/images/icon-192.png" sizes="192x192" data-external="1">
<link rel="icon" type="image/png" href="/spectacle/images/icon-512.png" sizes="512x512" data-external="1">
<script>
  const addSectionLinks = function () {
    // add section links
    Array.from(document.querySelectorAll('.level3 h3')).forEach((el) => {
      let a = document.createElement('a');
      a.href = `#${el.parentElement.id}`;
      a.classList.add('selflink');
      a.innerText = '#'
      el.appendChild(document.createTextNode(' '));
      el.appendChild(a);
    });
  }

  addEventListener('load', function () {
    window.navigator
      .serviceWorker
      .register('sw.js')
      .catch(err => {
        console.warn('Error while registering service worker', err);
      });
    addSectionLinks();
  });
</script>
