* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  font-family: "Source Serif Pro", Georgia, Times, serif;
  font-size: 100%; /* 16px */
  line-height: 1.4; /* 14pt / 22.4px, or 36 lines p.p. */
}

a {
  color: black;
}
a:hover {
  color: #0000cc;
}

hr {
  border: none;
  border-top: 2pt solid black;
  border-bottom: 1pt solid black;
  height: 5pt;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
}
h2 {
  /* chapters */
  font-size: 2rem;
  margin-bottom: 8rem;
  margin-top: 12rem;
  text-align: left;
  hyphens: none;
  position: relative;
}
h2 .ch-roman {
  position: absolute;
  opacity: 0.2;
  font-size: 6em;
  margin-top: -0.5em;
}
.toc h2,
.foreword h2,
.preface h2,
.glossary h2,
.bibliography h2,
.index h2 {
  font-size: 1.5rem; /* = 15pt/24px */
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

h3 {
  /* thesis numbers */
  font-size: 1.4rem; /* 14pt / 22.4px */
  margin: 1em 0;
  text-align: center;
}

blockquote {
  text-align: left;
}
q[lang="ru"]::before {
  content: "\AB";
}
q[lang="ru"]::after {
  content: "\BB";
}

sup {
  font-size: 0.7em; /* 7pt/11.2px */
  font-weight: normal;
  line-height: 0; /* fixes blowing-up the line-height */
}

figure {
  text-align: center;
}

blockquote,
figure {
  margin: 0;
}

figure figcaption,
blockquote figcaption {
  font-style: italic;
  padding: 0;
}
figure figcaption strong {
  font-style: normal;
}

img {
  max-width: 100%;
}
figure img {
  max-height: 100vh;
}

/* chapter page */
h2 + blockquote {
  font-size: 1.25rem; /* 12.5pt/20px */
}
h2 + blockquote > p:first-child em {
  /* chapter epigraphs with a quote hanging to the left of text block */
  display: block;
  text-indent: -0.5em;
  text-align: left;
}
h2 + blockquote p:first-child + p {
  /* right align quote attribution */
  text-align: right;
}

/* utilities */

.title,
.author {
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
  text-align: left;
}

.author {
  font-size: 2rem;
  text-transform: uppercase;
}
.title {
  font-size: 2.25rem;
  letter-spacing: -0.05em;
}
.halftitle-image {
  width: 90%;
}

.titlepg.centered {
  text-align: center;
}
.titlepg .author,
.titlepg .title {
  margin: 5rem 0;
  display: block;
  text-align: center;
}
.title-logo {
  width: 5rem;
  margin: 0 auto;
  display: block;
}

.hanging-indent p {
  margin: 0;
  margin-left: 1.5rem;
  text-indent: -1.5rem;
  text-align: left;
}

.fn {
  display: block;
  /* if note is in a header, we need to reset the typography */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
}

.colophon {
  font-size: 0.75rem; /* = 7.5pt / 12px */
  line-height: 1.2;
  text-align: left;
}

.toc ul,
.toc ol {
  margin: 0.5rem 0 0.5rem 1.5rem;
}
.toc ul {
  list-style: none;
}
.toc ol {
  list-style: upper-roman;
}

.glossary h3 {
  text-align: left;
  font-size: 1rem;
}

.bibliography p {
  page-break-inside: avoid;
  text-align: left;
  /* force-wrap long URLs */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.authors,
.index .entries {
  column-count: 2;
  column-gap: 2rem;
}
.authors {
  text-align: justify;
}
.authors figure img {
  max-width: 100%;
}
