* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  font-family: "Source Serif Pro", Charter, serif;
  font-size: 100%;
  line-height: 1.4;
}
@media only screen {
  html {
    background: #f7f7f7;
  }
  body {
    background: white;
    box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    padding: 1in;
    margin: 1in auto;
    width: 8.5in;
  }
}

a {
  color: black;
}
a:hover {
  color: #0000cc;
}

hr {
  border: none;
  border-top: 2pt solid black;
  border-bottom: 1pt solid black;
  height: 4pt;
  margin: 5rem 10rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
  page-break-after: avoid;
}
h1 {
  font-size: 3rem;
}
h2 {
  /* chapters */
  font-size: 2rem;
  margin-bottom: 8rem;
  padding-top: 8rem;
  /* chapters start on new page */
  page-break-before: always;
}

h3 {
  /* thesis numbers */
  font-size: 1.5rem;
  text-align: center;
}

@media only print {
  p {
    text-align: justify;
  }
}

blockquote {
  text-align: left;
}

@media only print {
  blockquote,
  p,
  q {
    hyphens: auto;
    quotes: "“" "”" "‘" "’";
  }
}

sup {
  font-size: 0.625em; /* fixes blowing-up the line-height */
}

cite {
  font-style: normal;
}

figure {
  text-align: center;
}

figure,
blockquote,
.footnotes ol li p {
  margin: 0;
  font-size: 0.75rem;
  page-break-inside: avoid;
}

figure figcaption,
blockquote figcaption {
  font-style: italic;
  padding: 0.25rem 4rem;
}

img {
  max-width: 100%;
}
figure img {
  max-height: 100vh;
  max-width: 40rem;
  margin: 0 -3rem;
}

/* chapter page */
h2 + blockquote {
  font-size: 1.5rem;
  text-align: justify;
}
h2 + blockquote p:first-child em {
  /* chapter epigraphs with hanging quote */
  display: block;
  text-indent: -0.5rem;
  text-align: left;
}

.publisher-logo {
  width: 8rem;
  margin: 0 auto;
  display: block;
}

/* poems */
.poem p {
  text-align: center;
  width: 20rem;
  font-style: italic;
}

.hanging-indent p {
  margin: 0;
  margin-left: 1.5rem;
  text-indent: -1.5rem;
  font-size: 0.75rem;
  padding: 0 3rem;
}

.footnotes ol {
  margin-left: -2.5rem;
}
.footnote-back {
  text-decoration: none;
}

.centered,
.centered p {
  text-align: center;
}

#title-block-header .title {
  margin: 40vh 0 2rem 0;
}

.author {
  font-size: 2rem;
}

.title {
  margin: 0 -3rem;
}
h1.title {
  page-break-before: avoid;
}

.page-break-before {
  page-break-before: always;
}

#title-block-header,
.page-break-after,
h2 + blockquote {
  page-break-after: always;
}
@media only screen {
  h2,
  .page-break-before {
    margin-top: 100vh;
  }
  h2 + blockquote,
  #title-block-header,
  .page-break-after {
    margin-bottom: 100vh;
  }
}

.glossary h3 {
  text-align: left;
}
.bibliography p {
  page-break-inside: avoid;
  text-align: left;
}
