@font-face {
  font-family: "Source Serif Pro";
  src: url("SourceSerifPro-Regular.ttf");
}
@font-face {
  font-family: "Source Serif Pro";
  font-style: italic;
  src: url("SourceSerifPro-Italic.ttf");
}
@font-face {
  font-family: "Source Serif Pro";
  font-weight: bold;
  src: url("SourceSerifPro-Bold.ttf");
}

html {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
  line-height: 1.4;
}

body {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
  line-height: 1.4;
}

hr {
  border: none;
  border-top: 2pt solid black;
  border-bottom: 1pt solid black;
  height: 5pt;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
  clear: both;
}
h1.unnumbered {
  display: none;
}
h2 {
  /* chapters */
  font-size: 2em;
  text-align: left;
  hyphens: none;
}
h2 .ch-roman {
  color: #ccc;
}
.toc h2,
.foreword h2,
.preface h2,
.glossary h2,
.bibliography h2,
.index h2 {
  font-size: 1.5em; /* = 15pt/24px */
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}
h1,
h2,
h3,
h4 {
  break-after: avoid;
  page-break-after: avoid;
}
.foreword h2,
.preface h2,
.toc h2,
.glossary h2,
.bibliography h2,
.index h2 {
  margin-top: 5em;
  margin-bottom: 4em;
}

h3 {
  /* thesis numbers */
  font-size: 1.4em; /* 14pt / 22.4px */
  margin: 1em 0;
  text-align: center;
}
.level3 {
  page-break-inside: avoid;
}

blockquote {
  text-align: left;
}
q[lang="ru"]::before {
  content: "\AB";
}
q[lang="ru"]::after {
  content: "\BB";
}

sup {
  font-size: 0.7em; /* 7pt/11.2px */
  font-weight: normal;
  line-height: 0; /* fixes blowing-up the line-height */
}

figure {
  text-align: center;
}

blockquote,
figure {
  margin: 0;
}

figure figcaption,
blockquote figcaption {
  font-style: italic;
  padding: 0;
}
figure figcaption strong {
  font-style: normal;
}

img {
  max-width: 100%;
}

/* chapter page */
h2 + blockquote {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: always;
}
h2 + blockquote > p:first-child em {
  /* chapter epigraphs with a quote hanging to the left of text block */
  display: block;
  text-indent: -0.5em;
  text-align: left;
}
h2 + blockquote p:first-child + p {
  /* right align quote attribution */
  text-align: right;
}

/* utilities */

.title,
.author,
.translator {
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1;
  text-align: left;
}
.translator::before {
  content: "English Edition by ";
}

.author {
  font-size: 2em;
  text-transform: uppercase;
}

.level1 > h1 {
  font-size: 1em;
}
.title {
  font-size: 2.25em;
  letter-spacing: -0.05em;
}
.titlepg.centered,
.titlepage {
  text-align: center;
}
.titlepg .author,
.titlepg .title {
  margin: 1em 0;
  display: block;
  text-align: center;
}
.title-logo {
  width: 3.5em;
  height: 3.5em;
  margin: 0 auto;
  display: block;
}
.titlepage .publisher,
.titlepage .date,
.titlepage .rights {
  opacity: 0;
}

.hanging-indent p {
  margin: 0;
  margin-left: 1.5em;
  text-indent: -1.5em;
  text-align: left;
}

.fn {
  display: none;
}
.fn-marker {
  text-decoration: underline;
  vertical-align: super;
  line-height: 0;
}

.colophon {
  font-size: 0.5rem;
  font-family: sans-serif;
  line-height: 1.2;
  text-align: left;
}

.glossary h3 {
  text-align: left;
  font-size: 1rem;
}

.bibliography p {
  font-size: 0.625em;
  page-break-inside: avoid;
  text-align: left;
  /* force-wrap long URLs */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.authors,
.index .entries {
  column-count: 2;
  column-gap: 2rem;
  page-break-inside: avoid;
}
.authors {
  text-align: justify;
}
.authors figure img {
  max-width: 100%;
}

p {
  orphans: 2;
  widows: 3;
}

blockquote,
figure {
  break-inside: avoid;
  page-break-inside: avoid;
}

.colophon,
.foreword,
.frontmatter,
.backmatter,
.preface,
.level2 {
  page-break-after: always;
}
.level2 {
  page-break-before: always;
}
.level2 > h2 {
  page-break-after: avoid;
  page-break-before: avoid;
}
